In [28]:
%matplotlib notebook

This is a draft

In [2]:
import pandas as pd

In [20]:
import matplotlib.pyplot as plt

# Email Analysis

In [36]:
emails = pd.read_pickle("data/emails.pickle")

In [4]:
def get_domain(x):
    pos = x.find("@")
    return x[(pos+1):] if (0 <= pos) else False

In [37]:
emails["domains"] = emails.email.apply(get_domain)

In [38]:
emails.domains.value_counts().head()

enron.com            29333
aol.com               3016
hotmail.com           1804
yahoo.com             1258
haas.berkeley.edu      648
Name: domains, dtype: int64

# Recipient traffic

In [7]:
rs = pd.read_pickle("data/recipients.pickle")

In [8]:
rs.head()

      m_id   e_id type
r_id
67      52  17675   TO
68      53  17676   TO
69      54  17677   TO
70      55  17675   TO
71      56  17678   TO

In [39]:
rs[["m_id", "e_id"]].groupby("e_id").count().sort_values("m_id", ascending = False).join(emails).head()

       m_id                      email  emp_id    domains
e_id
73    11094    jeff.dasovich@enron.com      73  enron.com
225   10844  richard.shapiro@enron.com      69  enron.com
260   10803    steven.j.kean@enron.com      51  enron.com
61    10518  james.d.steffes@enron.com      23  enron.com
457    9813       no.address@enron.com       0  enron.com

In [24]:
trafic_domains = rs.join(emails, on = "e_id").groupby("domains").size().sort_values(ascending = False)
trafic_domains = trafic_domains/trafic_domains.sum()*100
trafic_domains.head()

domains
enron.com            87.248624
aol.com               0.663346
haas.berkeley.edu     0.405258
hotmail.com           0.309333
ENRON                 0.266318
dtype: float64

# Senders traffic

In [26]:
ms = pd.read_pickle("data/messages.pickle")

In [27]:
trafic_domains = ms.join(emails, on = "e_id").groupby("domains").size().sort_values(ascending = False)
trafic_domains = trafic_domains/trafic_domains.sum()*100
trafic_domains.head()

domains
enron.com      81.731716
aol.com         0.575656
hotmail.com     0.475164
nymex.com       0.336690
yahoo.com       0.320864
dtype: float64

In [21]:
ms.head(1)

,e_id,date,subject,body,folder
m_id,,,,,
52,297,2000-01-21 04:51:00,ENRON HOSTS ANNUAL ANALYST CONFERENCE PROVIDES...,HOUSTON - Enron Corp. hosted its annual equity...,Robert_Badeer_Aug2000Notes FoldersPress releases

In [34]:
emps = pd.read_pickle("data/employees.pickle")

In [35]:
emps.head()

       firstName  lastName      folder    status
emp_id
13         Marie     Heard     heard-m       NaN
6           Mark    Taylor    taylor-m  Employee
19         Lindy    Donoho    donoho-l  Employee
115         Lisa      Gang      gang-l       NaN
129      Jeffrey  Skilling  skilling-j       CEO

In [42]:
ms.groupby("e_id").size().sort_values(ascending = False).to_frame("n").join(emails).join(emps, on = "emp_id")

,n,email,emp_id,domains,firstName,lastName,folder,status
e_id,,,,,,,,
73,6273,jeff.dasovich@enron.com,73,enron.com,Jeff,Dasovich,dasovich-j,Employee
292,5838,j.kaminski@enron.com,109,enron.com,Vince,Kaminski,kaminski-v,Manager
15,5100,kay.mann@enron.com,52,enron.com,Kay,Mann,mann-k,Employee
241,4797,sara.shackleton@enron.com,67,enron.com,Sara,Shackleton,shackleton-s,NaN
277,4437,tana.jones@enron.com,48,enron.com,Tana,Jones,jones-t,NaN
101,3686,chris.germany@enron.com,114,enron.com,Chris,Germany,germany-c,Employee
457,3511,no.address@enron.com,0,enron.com,NaN,NaN,NaN,NaN
300,2838,enron.announcements@enron.com,0,enron.com,NaN,NaN,NaN,NaN
179,2784,matthew.lenhart@enron.com,61,enron.com,Matthew,Lenhart,lenhart-m,Employee
126,2549,debra.perlingiere@enron.com,76,enron.com,Debra,Perlingiere,perlingiere-d,Employee
11906,2500,pete.davis@enron.com,0,enron.com,NaN,NaN,NaN,NaN
260,2278,steven.j.kean@enron.com,51,enron.com,Steven,Kean,kean-s,Vice President
154,2275,gerald.nemec@enron.com,75,enron.com,Gerald,Nemec,nemec-g,NaN
61,2161,james.d.steffes@enron.com,23,enron.com,James,Steffes,steffes-j,Vice President
1,2145,mark.e.taylor@enron.com,6,enron.com,Mark,Taylor,taylor-m,Employee
222,1998,richard.b.sanders@enron.com,14,enron.com,Richard,Sanders,sanders-r,Vice President
613,1894,40enron@enron.com,0,enron.com,NaN,NaN,NaN,NaN
95,1827,carol.clair@enron.com,147,enron.com,Carol,Clair,stclair-c,Vice President
273,1823,susan.scott@enron.com,49,enron.com,Susan,Scott,scott-s,NaN
140,1643,eric.bass@enron.com,125,enron.com,Eric,Bass,bass-e,Trader
236,1596,sally.beck@enron.com,122,enron.com,Sally,Beck,beck-s,Employee
46,1587,john.arnold@enron.com,44,enron.com,John,Arnold,arnold-j,Manager
215,1573,phillip.m.love@enron.com,105,enron.com,Phillip,Love,love-p,NaN
136,1524,elizabeth.sager@enron.com,27,enron.com,Elizabeth,Sager,sager-e,Employee
1249,1518,outlook.team@enron.com,0,enron.com,NaN,NaN,NaN,NaN
25,1504,louise.kitchen@enron.com,107,enron.com,Louise,Kitchen,kitchen-l,President
77,1418,jeffrey.a.shankman@enron.com,36,enron.com,Jeffrey,Shankman,shankman-j,President
13,1402,kate.symes@enron.com,149,enron.com,Kate,Symes,symes-k,Employee
181,1211,michelle.cash@enron.com,16,enron.com,Michelle,Cash,cash-m,Employee
33,1166,kimberly.watson@enron.com,20,enron.com,Kimberly,Watson,watson-k,NaN
...,...,...,...,...,...,...,...,...
5792,1,airtran_airways_net_escapes.um.a.35.59@post.in...,0,post.intellimedia.com,NaN,NaN,NaN,NaN
10173,1,mark.rodriguez@enron.com,0,enron.com,NaN,NaN,NaN,NaN
13002,1,al3v@andrew.cmu.edu,0,andrew.cmu.edu,NaN,NaN,NaN,NaN
9136,1,terri.walker@enron.com,0,enron.com,NaN,NaN,NaN,NaN
13000,1,hartleyr@wharton.upenn.edu,0,wharton.upenn.edu,NaN,NaN,NaN,NaN
12999,1,andrei@swapsmonitor.com,0,swapsmonitor.com,NaN,NaN,NaN,NaN
12996,1,srijay@ieor.berkeley.edu,0,ieor.berkeley.edu,NaN,NaN,NaN,NaN
5799,1,tim_wells@transcanada.com,0,transcanada.com,NaN,NaN,NaN,NaN
12995,1,reactions@euromoneyplc.com,0,euromoneyplc.com,NaN,NaN,NaN,NaN
12992,1,webmaster@climaton.com,0,climaton.com,NaN,NaN,NaN,NaN
5802,1,etcadmin@expedia.com,0,expedia.com,NaN,NaN,NaN,NaN
5803,1,6.207.04-k9w0wmehyb97vkqo9pais5bathfr.1@mail3....,0,mail3.travelocity.com,NaN,NaN,NaN,NaN
12991,1,ksmedley@uts.cc.utexas.edu,0,uts.cc.utexas.edu,NaN,NaN,NaN,NaN
10174,1,stuart.staley@enron.com,0,enron.com,NaN,NaN,NaN,NaN
12988,1,johansen@scicomp.com,0,scicomp.com,NaN,NaN,NaN,NaN
5807,1,posterclub@allposters.com,0,allposters.com,NaN,NaN,NaN,NaN
5808,1,bpotter@proliance.com,0,proliance.com,NaN,NaN,NaN,NaN
12984,1,barrett@management.wharton.upenn.edu,0,management.wharton.upenn.edu,NaN,NaN,NaN,NaN
5810,1,gail_jones@transcanada.com,0,transcanada.com,NaN,NaN,NaN,NaN
5811,1,email@lisc.net,0,lisc.net,NaN,NaN,NaN,NaN
5812,1,scottradestreamer@scottrade.com,0,scottrade.com,NaN,NaN,NaN,NaN
5813,1,rebeccadietz@hotmail.com,0,hotmail.com,NaN,NaN,NaN,NaN
5814,1,kirti.patel@enron.com,0,enron.com,NaN,NaN,NaN,NaN
12980,1,steve@virtual-workshops.com,0,virtual-workshops.com,NaN,NaN,NaN,NaN
5816,1,samantha@g7.freshgirlsonline.com,0,g7.freshgirlsonline.com,NaN,NaN,NaN,NaN
5817,1,party@kitkat.org,0,kitkat.org,NaN,NaN,NaN,NaN
12979,1,mullenc@pjm.com,0,pjm.com,NaN,NaN,NaN,NaN
12977,1,majordomo@pjm.com,0,pjm.com,NaN,NaN,NaN,NaN
5820,1,2.3374.1d-i5ncsd6_rgbu.1@cda01.cdnow.com,0,cda01.cdnow.com,NaN,NaN,NaN,NaN
8911,1,dean.sacerdote@enron.com,0,enron.com,NaN,NaN,NaN,NaN